*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ;
    src: url();
}


body{
    display: flex;
    max-width: 100%;
    height: 100vh;
    background-color: #1E1E1E;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1420px;
    height: 100vh;
    /* border: 1px solid red; */
}

.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1420px;
    height: 67px;
    border: 1px solid red;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 280px;
    height: 67px;
    border: 1px solid red;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 807px;
    height: 52px;
    border: 1px solid red;
}


.search{
    width: 188px;
    height: 52px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.key{
    color: #FFFFFF;
    list-style-type: none;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 55px;
    width: 100%;
    height: 686px;
    border: 1px solid red;
}

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    height: 618px;
    border: 1px solid red;
}

.social-icons{
    display: flex;
    margin-right: 50px;
    gap: 50px;
    color: #FFFFFF;
    list-style-type: none;
}

.about-me-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid red;
}

.my-name{
    width: 714px;
    height: 292px;
    border: 1px solid red;
}

.my-story{
    width: 714px;
    height: 292px;
    border: 1px solid red;
}

.my-photo{
    width: 538px;
    height: 616px;
    border: 1px solid red;
}

.my-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    height: 675px;
    border: 1px solid red;
}

.my-photo2{
    width: 675px;
    height: 681px;
    border: 1px solid red;
}

.about-my-skills{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid red;
}

.skills-text{
    width: 714px;
    height: 292px;
    border: 1px solid red;
}

.skills-img{
    width: 714px;
    height: 292px;
    border: 1px solid red;
}